.main-title{
    margin: 1.25em auto 0.25em auto;
    text-align: center;
    font-size: 45px;
    font-family: roboto;   
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    padding: 2em 0 3em 0;
}