.header-container{
    width: 100%;
    display: flex;
    padding: 1.5em 5em;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bolder;
    font-family: roboto;
    background: #000;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;

    .header-options{
        display: flex;
        width: 300px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        p{
            cursor: pointer;
            transition: all 0.5s ease;
        }

        p:hover{
            color: rgb(150,150,150);
        }
    }
}